@page
@using Assignment.Models;
@model Assignment.Pages.Subjects.EditModel

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="None" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectEditModel.Id" />
            <div class="form-group">
                <label asp-for="SubjectEditModel.Name" class="control-label"></label>
                <input asp-for="SubjectEditModel.Name" class="form-control" />
                <span asp-validation-for="SubjectEditModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectEditModel.Code" class="control-label"></label>
                <input asp-for="SubjectEditModel.Code" class="form-control" readonly="true"/>
                <span asp-validation-for="SubjectEditModel.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectEditModel.CreateTime" class="control-label"></label>
                <input asp-for="SubjectEditModel.CreateTime" class="form-control" />
                <span asp-validation-for="SubjectEditModel.CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
