@page
@model Assignment.Pages.Teachers.CreateModel

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EditModel.Name" class="control-label"></label>
                <input asp-for="EditModel.Name" class="form-control" />
                <span asp-validation-for="EditModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditModel.Code" class="control-label"></label>
                <input asp-for="EditModel.Code" class="form-control" />
                <span asp-validation-for="EditModel.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <input asp-for="EditModel.Id" value="@Guid.NewGuid().ToString("N")" hidden="true" />
        </form>
    </div>
</div>

<div>
    <button class="back-list-btn">
        <a asp-page="Index">Back to List</a>
    </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
