@page
@model Assignment.Pages.Teachers.EditModel

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Teacher.Id" />
            <div class="form-group">
                <label asp-for="Teacher.Name" class="control-label"></label>
                <input asp-for="Teacher.Name" class="form-control" />
                <span asp-validation-for="Teacher.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Code" class="control-label"></label>
                <input asp-for="Teacher.Code" class="form-control" />
                <span asp-validation-for="Teacher.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.CreateTime" class="control-label"></label>
                <input asp-for="Teacher.CreateTime" class="form-control" readonly="true"/>
                <span asp-validation-for="Teacher.CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<button class="back-list-btn">
    <a asp-page="./Index">Back to List</a>
</button>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
